<?xml version="1.0" encoding="UTF-8"?>

<web-app>
	<display-name>junior.pack3.p1.ch1.task1 TODO-list</display-name>
    <!-- Открывается в браузере по адресу: http://bot.net:8080/ch1_task1-1.0/ -->
    
    <servlet>
		<servlet-name>Create</servlet-name>
		<servlet-class>ru.job4j.web.Create</servlet-class>
		<description>Servlet 'Create' creates items.</description>
	</servlet>
    <servlet-mapping>
		<servlet-name>Create</servlet-name>
		<url-pattern>/create/</url-pattern>
	</servlet-mapping>
    
	<servlet>
		<servlet-name>Read</servlet-name>
		<servlet-class>ru.job4j.web.Read</servlet-class>
		<description>Servlet 'Read' reads items from storage.</description>
	</servlet>
	<servlet-mapping>
		<servlet-name>Read</servlet-name>
		<url-pattern></url-pattern>
	</servlet-mapping>
    
	<servlet>
		<servlet-name>Update</servlet-name>
		<servlet-class>ru.job4j.web.Update</servlet-class>
		<description>Servlet 'Update' updates item.</description>
	</servlet>
    <servlet-mapping>
		<servlet-name>Update</servlet-name>
		<url-pattern>/update/</url-pattern>
	</servlet-mapping>
    
    <servlet>
		<servlet-name>Delete</servlet-name>
		<servlet-class>ru.job4j.web.Delete</servlet-class>
		<description>Servlet 'Delete' deletes items.</description>
	</servlet>
    <servlet-mapping>
		<servlet-name>Delete</servlet-name>
		<url-pattern>/delete/</url-pattern>
	</servlet-mapping>
    
    <filter>
		<filter-name>EncodingFilter</filter-name>
		<filter-class>ru.job4j.web.EncodingFilter</filter-class>
		<description>Filter requests.</description>
	</filter>
    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
		<url-pattern>*</url-pattern>
	</filter-mapping>
</web-app>
