* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
input,
select,
.form-label-text,
.form-label-msg,
.chosen-container,
.chosen-container-single .chosen-single {
    color: #282828;
    font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
    font-size: 20px;
    line-height: 1.4;
}

input:focus,
select:focus,
a:focus {
    outline: none;
    box-shadow: #2677cb 0 0 5px;
}

body {
    background: #e3f2ff;
    cursor: default;
    min-width: 320px;
    padding: 10px;
}

section {
    margin: 0 auto;
}

h1, a, a:visited {
    color: #2677cb;
}

h1,
.form {
    margin-bottom: 20px;
}

h1 {
    line-height: 1;
    text-align: center;
}

a:hover,
a:focus {
    text-decoration: none;
}

.form-label,
.form-label-text,
.form-textfield,
.error .form-label-msg {
    display: block;
}

.form-item {
    font-size: 0;
}

table,
.form,
.form-item + .form-item {
    margin-top: 20px;
}

.form-item:last-child {
    margin-top: 28px;
}

.form-textfield,
.form-select,
.form-submit,
.chosen-container-single .chosen-single,
.chosen-container-active.chosen-with-drop .chosen-single,
.chosen-container .chosen-drop,
.chosen-container-single .chosen-search input[type=text] {
    border: 1px solid #2677cb;
}

.form-textfield,
.form-select,
tr:nth-child(2n-1),
.chosen-container-single .chosen-single,
.chosen-container-active.chosen-with-drop .chosen-single,
.chosen-container .chosen-drop {
    background: #c7e5ff;
}

.form-textfield,
.form-select,
.chosen-container {
    width: 100% !important;
}

.form-textfield,
.form-select,
.chosen-container-single .chosen-single {
    height: 35px;
}

.form-textfield,
.form-select {
    display: block;
    padding: 0 10px;
}

.chosen-container .chosen-results li.active-result.nonexists,
.form-select .nonexists {
    display: none;
}

.form-submit,
.form-submit:visited {
    color: #fff;
}

.form-submit {
    background: #2677cb;
    border-radius: 7px;
    cursor: pointer;
    font-size: 22px;
    font-weight: 700;
    display: block;
    letter-spacing: 1px;
    line-height: 33px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 300px;
}

.form-submit:hover {
    background: #2f90f4;
}

.form-submit:active {
    background: #fff;
    color: #2677cb;
}

.form-submit:focus {
    text-shadow: 0 0 5px #fff;
}

.error .form-textfield {
  background: #ffc2bd !important;
}

.form-label-msg {
    color: #d20f00;
    display: none;
    line-height: 1.1;
}

.ref {
    line-height: 1.6;
}

.message {
    margin: 20px 0;
}

table {
    border-collapse: collapse;
    display: block;
    overflow-x: auto;
    text-align: center;
    width: auto;
}

tbody {
    display: inline-block;
}

th, td {
    padding: 8px;
}

th:nth-child(5),
td:nth-child(5) {
    width: 100px;
}

th {
    background: #2677cb;
    color: #fff;
}

td {
    text-align: left;
}

.date {
    display: block;
    width: 105px;
}

.chosen-container-single .chosen-single {
    border-radius: 0;
    box-shadow: none;
}

.chosen-container-single .chosen-single span {
    line-height: 35px;
}

.chosen-container-single .chosen-single div b {
    background-position: 0 8px;
}

.chosen-container-active.chosen-with-drop .chosen-single {
    box-shadow: none;
}

.chosen-container-active.chosen-with-drop .chosen-single div b {
    background-position: -18px 8px;
    box-shadow: none;
}

.chosen-container .chosen-drop {
    border-radius: 0;
    box-shadow: none;
}

.chosen-container-single .chosen-search input[type=text] {
    background: #fff;
}

@media only screen and (min-width: 768px) {
    body,
    input,
    select,
    .form-label-text,
    .form-label-msg,
    .chosen-container,
    .chosen-container-single .chosen-single {
        font-size: 18px;
    }

    section,
    .form-textfield,
    .form-select {
        width: 748px;
    }

    th:nth-child(5),
    td:nth-child(5) {
        width: 115px;
    }
}

@media only screen and (min-width: 1024px) {
    body,
    input,
    select,
    .form-label-text,
    .form-label-msg,
    .chosen-container,
    .chosen-container-single .chosen-single {
        font-size: 16px;
    }

    body {
        margin: 0 auto;
        max-width: 1024px;
    }
}

@media only screen and (min-width: 1280px) {
    body,
    input,
    select,
    .form-label-text,
    .form-label-msg,
    .chosen-container,
    .chosen-container-single .chosen-single {
        font-size: 14px;
    }
}
