<?xml version="1.0" encoding="UTF-8"?>

<web-app>
	<display-name>p9.ch7 Testing using Mockito</display-name>
    <!-- Открывается в браузере по адресу: http://bot.net:8080/ch7_testing-1.0/ -->
    
    <servlet>
		<servlet-name>Create</servlet-name>
		<servlet-class>ru.job4j.testing.Create</servlet-class>
		<description>Servlet 'Create' creates user.</description>
	</servlet>
    <servlet-mapping>
		<servlet-name>Create</servlet-name>
		<url-pattern>/create/</url-pattern>
	</servlet-mapping>
    
	<servlet>
		<servlet-name>Read</servlet-name>
		<servlet-class>ru.job4j.testing.Read</servlet-class>
		<description>Servlet 'Read' reads users from storage.</description>
	</servlet>
	<servlet-mapping>
		<servlet-name>Read</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Update</servlet-name>
		<servlet-class>ru.job4j.testing.Update</servlet-class>
		<description>Servlet 'Update' updates user.</description>
	</servlet>
    <servlet-mapping>
		<servlet-name>Update</servlet-name>
		<url-pattern>/update/</url-pattern>
	</servlet-mapping>
    
    <servlet>
		<servlet-name>Delete</servlet-name>
		<servlet-class>ru.job4j.testing.Delete</servlet-class>
		<description>Servlet 'Delete' deletes user.</description>
	</servlet>
    <servlet-mapping>
		<servlet-name>Delete</servlet-name>
		<url-pattern>/delete/</url-pattern>
	</servlet-mapping>
    
    <servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>ru.job4j.testing.Login</servlet-class>
		<description>Servlet 'Login' login user.</description>
	</servlet>
    <servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/login/</url-pattern>
	</servlet-mapping>
    
    <filter>
		<filter-name>AuthFilter</filter-name>
		<filter-class>ru.job4j.testing.AuthFilter</filter-class>
		<description>Filter requests.</description>
	</filter>
    <filter-mapping>
		<filter-name>AuthFilter</filter-name>
		<url-pattern>*</url-pattern>
	</filter-mapping>
</web-app>
