<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <appenders>
        <file name="commonLogFile" fileName="junior.pack1.p4.ch2.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n%n" />
        </file>
    </appenders>
    
    <loggers>
        <root level="error">
            <appender-ref ref="commonLogFile" />
        </root>
    </loggers>
</configuration>