<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <appenders>
        <file name="logfileLinux" fileName="junior.pack3.p1.ch1.task1.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n%n" />
        </file>
        <!--<file name="logfileWin" fileName="junior.pack3.p1.ch1.task1.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n%n" />
        </file>-->
    </appenders>
    
    <loggers>
        <root level="error">
            <appender-ref ref="logfileLinux" />
            <!--<appender-ref ref="logfileWin" />-->
        </root>
    </loggers>
</configuration>