<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="storageMemory" class="ru.job4j.services.Storage">
        <constructor-arg type="java.lang.String" value="hibernate.HyperSQL.cfg.xml" />
    </bean>
    <!--<bean id="storageDBMS" class="ru.job4j.services.Storage">
        <constructor-arg type = "java.lang.String" value = "hibernate.DBMS.PostgreSQL.cfg.xml" />
    </bean>-->

    <context:component-scan base-package="ru.job4j" />
</beans>