<?xml version="1.0" encoding="UTF-8"?>

<web-app>
	<display-name>p9.ch1_struct Hello, World!</display-name>

	<servlet>
		<servlet-name>ServletHelloWorld</servlet-name>
		<servlet-class>ru.job4j.struct.ServletHelloWorld</servlet-class>
		<description>Simplies web app</description>
	</servlet>
	<!-- Открывается в браузере по адресу: http://bot.net:8080/ch1_struct-1.0/ -->
	<servlet-mapping>
		<servlet-name>ServletHelloWorld</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<!-- Открывается в браузере по адресу: http://bot.net:8080/ch1_struct-1.0/helloworld
	<servlet-mapping>
		<servlet-name>ServletHelloWorld</servlet-name>
		<url-pattern>/helloworld</url-pattern>
	</servlet-mapping> -->
</web-app>
