<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <appenders>
        <file name="logfileLinux" fileName="./logs/junior.pack3.p1.ch2_carStoreAnnotations.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n%n" />
        </file>
        <file name="logfileWin" fileName="logs\junior.pack3.p1.ch2_carStoreAnnotations.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n%n" />
        </file>
    </appenders>
    
    <loggers>
        <root level="error">
            <appender-ref ref="logfileLinux" />
            <appender-ref ref="logfileWin" />
        </root>
    </loggers>
</configuration>