<?xml version="1.0" encoding="UTF-8" ?>
<!-- https://www.boraji.com/hibernate-5-log4j-2-configuration-example -->
<configuration>
    <appenders>
        <!-- console Appender -->
        <console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MMM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n" />
        </console>
    
        <!-- file Appenders -->
        <file name="logfileDebugUniversal" fileName="junior.pack3.p1.ch3_carStoreWebHQL_debug.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n%n" />
        </file>
        <file name="logfileErrorUniversal" fileName="junior.pack3.p1.ch3_carStoreWebHQL_error.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n%n" />
        </file>
    </appenders>
    
    <loggers>
        <!-- Log everything in hibernate
        <logger name="org.hibernate" level="info" additivity="false">
            <appender-ref ref="console" />
        </logger> -->
        
        <!-- Log SQL statements -->
        <logger name="org.hibernate.SQL" level="debug" additivity="false">
            <!-- <appender-ref ref="console" /> -->
            <appender-ref ref="logfileDebugUniversal" />
        </logger>
    
        <root level="error">
            <appender-ref ref="logfileErrorUniversal" />
        </root>
    </loggers>
</configuration>